body{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid red;
}

#container div{
    background-color: white;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid gray;
    flex: 1 1 0;
}

#container div:hover{
    background-color: black;
}