body {
    background-color: gainsboro;
}

.menu-icon {
    border: 1px solid black;
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu-icon:hover {
    background-color: gainsboro;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: none;
    background-color: transparent;
}

.sidenav button:hover {
    color: #f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#header-container {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    font-family: 'Sigmar One', cursive;
}

#container-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#container {
    display: grid;
    width: 1000px;
    height: 500px;
    outline: 1px solid black;
}

.pixel {
    background-color: white;
    outline: 1px solid grey;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}