body {
    background-color: gainsboro;
}

#header-container {
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    outline: 1px solid red;
}

#container-wrapper {
    display: flex;
    justify-content: center;
    outline: 5px solid red;
}

#container {
    display: grid;
    width: 1000px;
    height: 500px;
    outline: 1px solid black;
}

.pixel {
    background-color: white;
    outline: 1px solid grey;
}