body {
    background-color: gainsboro;
}

#container-wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    outline: 1px solid black;
}

.pixel {
    background-color: white;
    outline: 1px solid grey;
}